@use '../base/variables' as v;
@use '../base/mixies' as m;

.header{

    @include m.tablet{ 	
        &.fijo{
        position: fixed;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
            left: 0;
            top: 0;
        }
    };
    background-color: v.$verde;
    padding: 3rem;
    
    h1{
        color: v.$blanco;

        &:hover{
            color: v.$amarillo;
        }
    }

    @include m.tablet{
        .contenedor{
            display: flex;
            justify-content: space-between;
            align-items: center;
        };
    
        .header__titulo{
            margin: 0 0 0 0;
        }
    }
};


.navegacion-principal{
    display: grid;
    justify-items: center;

    
    .navegacion__enlace{
        color: v.$blanco;
        font-size: 2rem;
        margin-bottom: 2rem ;

        &:last-child{
            margin-bottom: 0 ;
        }
        
        &:hover{
            text-decoration: underline;
            color: v.$amarillo;
        }
    }   
   
    @include m.phone{
            display: flex;
            justify-content: end;
            .navegacion__enlace{
                margin: 0 2rem 0 0;
                
                &:last-of-type{
                margin: 0 0 0 0;
            }
        }
    }
};

